RewriteEngine On
RewriteBase /teste-tecnico-yellowgo/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico/gif/jpg/jpeg/png/webp/js/css/svg)
RewriteRule ^(.*)$ index.php?_route_=$1 [NC,L,QSA]
ErrorDocument 404 /404.html