/* ------ Google fonts ------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* ------ CSS VARIABLES ------ */
:root{
  /* COLORS */
  --white: #FFF;
  --black: #101623;
  --yellow: #FBC400;
  --yellow-dark: #b38c00;
  --green: #419935;
  --grey-dark: #333333;
  --grey: #666666;
  --grey-light: #F2F2F2;
  --blue: #1C2064;

  --input-placeholder-color: #A1A8B0;
  --input-border-color: #E5E7EB;
  --input-background-color: #F9FAFB;

  /* ------ FONTS ------ */
  --body-font: 'Inter', sans-serif;

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  --normal-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;

  /* ------ SIZES ------ */

  --input-radius: 0.8rem;
  --button-radius: 2rem;
} 

/* ------ GENERAL ------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
}
  
body{
    background-color: var(--white);
    margin-bottom: 80px;
}

h1, h2{
    color: var(--blue);
}

a{
    cursor: pointer;
    text-decoration: none;
}

.form-control{
    transition: .5s;
}

.form-control:focus{ 
    border-color: var(--green);
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.main__container{
    margin: 100px auto;
    max-width: 1200px;
    padding: 0 20px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 6px;
}